/* USE HEX COLORS FOR COMPATIBILITY WITH POSTCSS COLOR PLUGIN */

$color-1: #fff;
$color-2: #52545d;
$color-3: #6db54d;
$color-4: #222;
$color-5: #000;
$color-6: #52545d;
$color-7: #bfbfbf;
$color-8: #0272ba;
$color-9: #f5f5f3;
