@import "../../settings.css";

.controls {
  position: absolute;
  top: 0;
  left: 40px;
  width: 280px;
  padding: 20px;
  background-color: $color-1;
  box-shadow: 0 5px 15px 0 rgba($color-5, .1);
	border: solid 1px rgba($color-5, .05);

  & > .logo {
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }

  & > .graph {
    display: block;
    margin: 30px auto;
    width: 206px;
  }

  & > hr {
    width: calc(100% + 2 * 20px);
    position: relative;
    left: -20px;
    border:none;
    border-top: 1px solid rgba($color-4, .1);
  }
}
