@import "../../settings.css";

.controls {
  position: absolute;
  top: 0;
  left: 20px;
  width: 280px;
  max-height: calc(100% - 20px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 85px 20px 20px 30px;
  background-color: $color-1;
  box-shadow: 0 5px 15px 0 rgba($color-5, .1), 0 0 0 1px rgba($color-5, .05);

  & > .half-earth-logo {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    left: 20px;
    width: 280px;
    background-color: $color-1;
    border-bottom: 1px solid rgba($color-4, .1);
    z-index: 1;
  }

  & > .graph {
    display: block;
    margin: 30px auto;
    width: 206px;
  }

  & > .search-box {
    margin-bottom: 15px;
  }

  & > hr {
    width: calc(100% + 50px);
    position: relative;
    left: -30px;
    border:none;
    border-top: 1px solid rgba($color-4, .1);
  }

  & > .vizzuality-logo {
    display: block;
    margin-top: 30px;

    & > img { height: 20px; }
  }
}
