@import "normalize.css/normalize.css";

/* Base styles */
body {
  line-height: 1.5;
  color: #333;

  background: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
