<ul class="layer-control">
  <li class="layer" v-for="layer in layers">
    <div v-if="!layer.options">
      <checkbox
        :name="layer.name"
        :on-change="toggleLayer(layer)"
        :model="layer.active">
      </checkbox>
    </div>
    <div v-else>
      <radio-button
        :name="layer.name"
        :on-change="toggleLayer(layer)"
        :model="layer.active">
      </radio-button>
      <ul class="sub-layer">
        <li class="layer" v-for="option in layer.options">
          <radio-button
            :name="option.name"
            :on-change="toggleLayer(option, layer)"
            :model="layer.active"
            :label-class="option.nested ? '-secondary' : ''">
          </radio-button>
        </li>
      </ul>
    </div>
  </li>
</ul>
